.container {
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  
  .name {
    color: #1454a8;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .logout {
    background: #c20f3b;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .logout:hover {
    background: #0c4485;
  }
  